{% extends 'practice/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row" >
  <br>
  <h3>Set {{ practice_name }} algorithm</h3>
  <br>
  <form action = "/{{ practice_name }}/algorithm/" accept-charset="utf-8" name="save_algorithm" method="post">
      {% for key, value_list in list.items %}
        <div class="w3-card-2 w3-round w3-white w3-hide-small">
          <div class="w3-container">
            <div class="table_name col-sm-4">{{ key }}</div>
            <div class="table_value col-sm-8">
              {% if "Yes" in value_list %}
                <div class="switch-field">
                  {% for value in value_list %}
                    <label><input type="radio" name="{{ key }}" value="{{ value }}" checked/><p>{{ value }}</p></label>
                  {% endfor %}
                </div>
              {% else %}
                <div class="cc-selector">
                  {% for value in value_list %}
                    <label><input type="radio" name="{{ key }}" value="{{ value }}" /><img class="drinkcard-cc" src ="/static/practice/images/{{ value }}.png"></label>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    <br><br>
    <input type="submit" class="nextButton w3-btn w3-dark-gray" value="Next">
  </form>
</div>
{% endblock content %}

{% block scripts %}
<script>
  $(document).ready(function() {
    var cur= window.location.pathname;
    if(cur.indexOf('algorithm')){
      $('.submenu').hide();
      $('#algorithm.submenu').show();
    }
    $('.data-end').attr('src','{% static 'practice/images/end_check.png' %}');
    $('.algorithm-end').attr('src','{% static 'practice/images/end_exec.png' %}');
    $('#algorithm-1').parent().next().children().css('font-weight','Bold');
    $('#algorithm-1').parent().next().children().css('font-size','17px');
    $('#algorithm').prev().children().css('color','#eeb211');
  });
</script>
{% endblock scripts %}