<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <title>Step Menu</title>
  <META HTTP-EQUIV="page-exit" content="BlendTrans(Duration=0.1)">
  <META HTTP-EQUIV="page-enter" content="BlendTrans(Duration=0.1)">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{% static 'practice/css/base.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>

  <header>
    <div id="branding">
      <li><img src="{% static 'practice/images/logo.png' %}" id="logo"></li>
    </div>
  </header>
  <div class=" w3-sidenav w3-center" id="menu">
    <ul class="step">{{ practice_name }}</ul>
    <ul class="mainmenu">
      <li><i class="material-icons icon">folder_open</i><p>Data</p></li>
      <ul id="data" class="submenu">
        <li>
          <div class="submenu_image"><img id="data-1" src="{% static 'practice/images/end.png' %}" class="step-image data-end"></div>
          <div class="submenu_name"><span>Load</span></div>
        <
      </ul>
      <li><i class="material-icons icon">multiline_chart</i><p>Algorithm</p></li>
      <ul id="algorithm" class="submenu">
        <li>
          <div class="submenu_image"><img id="algorithm-1" src="{% static 'practice/images/end.png' %}" class="step-image algorithm-end"></div>
          <div class="submenu_name"><span>Setting</span></div>
        </li>
      </ul>
      <li ><i class="material-icons icon">settings_applications</i><p>Training</p></li>
      <ul id="training" class="submenu">
        <li>
          <div class="submenu_image"><img id="training-1" src="{% static 'practice/images/middle.png' %}" class="step-image training-middle"></div>
          <div class="submenu_name"><span>Setting</span></div>
        </li>
        <li>
          <div class="submenu_image"><img id="training-2" src="{% static 'practice/images/middle.png' %}" class="step-image training-middle"></div>
          <div class="submenu_name"><span>Check</span></div>
        </li>
        <li>
          <div class="submenu_image"><img id="training-3" src="{% static 'practice/images/middle.png' %}" class="step-image training-middle"></div>
          <div class="submenu_name"><span>Run</span></div>
        </li>
        <li>
          <div class="submenu_image"><img id="training-4" src="{% static 'practice/images/end.png' %}" class="step-image training-end"></div>
          <div class="submenu_name"><span>Result</span></div>
        </li>
      </ul>
      <li><i class="material-icons icon">create</i><p>Test</p></li>
      <ul id="test" class="submenu">
        <li>
          <div class="submenu_image"><img id="test-1" src="{% static 'practice/images/middle.png' %}" class="step-image test-middle"></div>
          <div class="submenu_name"><span>Data</span></div>
        </li>
        <li>
          <div class="submenu_image"><img id="test-2" src="{% static 'practice/images/end.png' %}" class="step-image test-end"></div>
          <div class="submenu_name"><span>Result</span></div>
        </li>
      </ul>
    </ul>
  </div>
  <div class="col-sm-8" id="main">
    {% block content %}
    {% endblock content %}
  </div>

</body>
{% block scripts %}
{% endblock scripts %}
<script src="{% static 'practice/js/base.js' %}"></script>
</html>