<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'practice/css/base.css' %}">
    {% block title %}
    <title>Step Menu</title>
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="{% static 'practice/css/base.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <header>
        <div id="branding">
            <li><img src="{% static 'practice/images/logo.png' %}" id="logo"></li>
        </div>
    </header>
    <div class=" w3-sidenav w3-center" id="menu">
        <ul class="step">STEP</ul>
        <ul class="mainmenu">
            <li><i class="material-icons icon">folder_open</i><p>Data</p></a></li>
            <ul class="submenu">
                <li><div class="submenu_image"><img src="{% static 'practice/images/middle.png' %}" class="step-image"></div>
                    <div class="submenu_name"><span>Data</span></div>
                </li>
                <li>
                    <div class="submenu_image"><img src="{% static 'practice/images/end.png' %}" class="step-image"></div>
                    <div class="submenu_name"><span>Pre-processing</span></div>
                </li>
            </ul>
            <li><i class="material-icons icon">multiline_chart</i><p>Algorithm</p></a></li>
            <ul class="submenu">
                <li>
                    <div class="submenu_image"><img src="{% static 'practice/images/end.png' %}" class="step-image"></div>
                    <div class="submenu_name"><span>Setting</span></div>
                </li>
            </ul>
            <li><i class="material-icons icon">settings_applications</i><p>Training</p></a></li>
            <ul class="submenu">
                <li>
                    <div class="submenu_image"><img src="{% static 'practice/images/middle.png' %}" class="step-image"></div>
                    <div class="submenu_name"><span>Setting </span></div>
                </li>
                <li>
                    <div class="submenu_image"><img src="{% static 'practice/images/middle.png' %}" class="step-image"></div>
                    <div class="submenu_name"><span>Confirm</span></div>
                </li>
                <li>
                    <div class="submenu_image"><img src="{% static 'practice/images/middle.png' %}" class="step-image"></div>
                    <div class="submenu_name"><span>Run</span></div>
                </li>
                <li>
                    <div class="submenu_image"><img src="{% static 'practice/images/end.png' %}" class="step-image"></div>
                    <div class="submenu_name"><span>Result</span></div>
                </li>
            </ul>
            <li><i class="material-icons icon">create</i><p>Test</p></a></li>
            <ul class="submenu">
                <li>
                    <div class="submenu_image"><img src="{% static 'practice/images/middle.png' %}" class="step-image"></div>
                    <div class="submenu_name"><span>Data</span></div>
                </li>
                <li>
                    <div class="submenu_image"><img src="{% static 'practice/images/middle.png' %}" class="step-image"></div>
                    <div class="submenu_name"><span>Run</span></div>
                </li>
                <li>
                    <div class="submenu_image"><img src="{% static 'practice/images/end.png' %}" class="step-image"></div>
                    <div class="submenu_name"><span>Result</span></div>
                </li>
            </ul>
        </ul>
    </div>
    <div class="col-sm-8" id="main">
        {% block content %}
        {% endblock %}
    </div>

</body>
<script src="{% static 'practice/js/base.js' %}"></script>
</html>