{% extends 'practice/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
  <br>
  <h3>Load Example Data</h3>
  <br>
  <h4>Training Image&Lable</h4>
  <button onclick="loadData()" class="w3-btn w3-dark-gray">Load data</button>
</div>
{% endblock content %}

{% block help %}
    <h3>What is the MNIST Data Structure?</h3>
    <div class="slideshow">
      <img src="{% static 'practice/images/ppt/slide(1).png' %}" width="auto" height="400" alt="first image">
      <img src="{% static 'practice/images/ppt/slide(2).png' %}" width="auto" height="400" alt="second image">
      <img src="{% static 'practice/images/ppt/slide(3).png' %}" width="auto" height="400" alt="third image">
      <img src="{% static 'practice/images/ppt/slide(4).png' %}" width="auto" height="400" alt="fourth image">
      <p style="position:absolute;bottom:0;right:0;">
        <button id="prevSlide">Prev</button>
        <button id="nextSlide">Next</button>
      </p>
    </div>
{% endblock help %}

{% block scripts %}
<script>
  $(document).ready(function() {
    var cur= window.location.pathname;
    if(cur.indexOf('data')){
      $('.submenu').hide();
      $('#data.submenu').show();
    }
    $('.data-end').attr('src','{% static 'practice/images/end_exec.png' %}');
    $('#data-1').parent().next().children().css('font-weight','Bold');
    $('#data-1').parent().next().children().css('font-size','17px');
    $('#data').prev().children().css('color','#d50f25');
  });
  function loadData() {
    $.post("/{{ practice_name }}/data/",
        function (data) {
          if(confirm("Data Loaded"))
            document.location = '/{{ practice_name }}/algorithm';
        },
        "json"
    );
  }

  var interval = undefined;
  $(document).ready(function () {
    interval = setInterval(getFirst, 2000);// milliseconds
    getNext();
    $('#nextSlide').on('click', getNext);
    $('#prevSlide').on('click', getPrev);
  });

  function getFirst() {
    var $curr = $('.slideshow img:visible').first();
    $curr.css('z-index', 1);
  }

  function getNext() {
    var $curr = $('.slideshow img:visible'),
        $next = ($curr.next('img').length) ? $curr.next() : $('.slideshow img').first();
    transition($curr, $next);
  }

  function getPrev() {
    var $curr = $('.slideshow img:visible'),
        $next = ($curr.prev('img').length) ? $curr.prev() : $('.slideshow img').last();
    transition($curr, $next);
  }

  function transition($curr, $next) {
    clearInterval(interval);
    $next.css('z-index', 2).fadeIn('slow', function () {
      $curr.hide().css('z-index', 0);
      $next.css('z-index', 1);
    });
  }
</script>
{% endblock scripts %}
