{% extends 'practice/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row" style="position:relative;">
  <br>
  <h3>Load Training Data</h3>
  <br>
  <h5>Let's load the mnist training Images & Lables</h5>
  <button id="showDataButton" class="w3-btn w3-dark-gray" style="margin-bottom:20px;">
    <i id="spinner"></i>Load data
  </button>
  <div id="dataTableDiv" style="overflow:auto;height:400px;"></div>
</div>
<button onclick="loadData()" class="nextButton w3-btn w3-dark-gray">Next</button>
<p id="div_section"><a href="#section02"><span></span>HELP</a></p>
{% endblock content %}

{% block help %}
<div class="w3-cell-row">
  <div class="w3-container w3-cell">
    <br><br><br><br>
    <ul class="w3-ul help_list">
      <li><h4>List</h4></li>
      <li><span onClick="getIndex(0)">Data Image</span></li>
      <li><span onClick="getIndex(2)">Data Label</span></li>
      <li><span onClick="getIndex(3)">W and b</span></li>
    </ul>
  </div>
  <div class="w3-container w3-cell">
    <h3>How is the MNIST Data structured?</h3>
    <div class="slideshow">
      <img src="{% static 'practice/images/ppt/data (1).png' %}" width="auto" height="400">
      <img src="{% static 'practice/images/ppt/data (2).png' %}" width="auto" height="400">
      <img src="{% static 'practice/images/ppt/data (3).png' %}" width="auto" height="400">
      <img src="{% static 'practice/images/ppt/data (4).png' %}" width="auto" height="400">
    </div>
    <div class="w3-middle">
      <div class="w3-btn-floating w3-left w3-light-gray" onclick="getPrev()">&#10094;</div>
      <div class="w3-btn-floating w3-right w3-light-gray" onclick="getNext()">&#10095;</div>
    </div>
  </div>
</div>
{% endblock help %}

{% block scripts %}
  <script>
  $(document).ready(function(){
    if($(window).scrollTop() == $(document).height() - $(window).height()){
      $('#section01 a span').css("-webkit-transform","rotate(135deg)");
      $('#section01 a span').css("transform","rotate(135deg)");
      $('#section01 a span').css("-webkit-animation","sdb02 2s infinite");
      $('#section01 a span').css("animation","sdb02 2s infinite");
    }
  });

  $(function () {
    $('a[href="#section02"]').on('click', function (e) {
      if($(window).scrollTop() == $(document).height() - $(window).height()){
        $('html, body').animate({
          scrollTop: 0
          }, 500);
        $('#section01 a span').css("-webkit-transform","rotate(-45deg)");
        $('#section01 a span').css("transform","rotate(-45deg)");
        $('#section01 a span').css("-webkit-animation","sdb01 2s infinite");
        $('#section01 a span').css("animation","sdb01 2s infinite");
        return false;
      }
      else{
        $('html, body').animate({
          scrollTop: $("#section02").offset().top
          }, 500);
        $('#section01 a span').css("-webkit-transform","rotate(135deg)");
        $('#section01 a span').css("transform","rotate(135deg)");
        $('#section01 a span').css("-webkit-animation","sdb02 2s infinite");
        $('#section01 a span').css("animation","sdb02 2s infinite");
        return false;
      }
    });
  });

  $(document).ready(function () {
    var cur = window.location.pathname;
    if (cur.indexOf('data')) {
      $('.submenu').hide();
      $('#data.submenu').show();
    }
    $('.data-end').attr('src', '{% static 'practice/images/end_exec.png' %}');
    $('#data-1').parent().next().children().css('font-weight', 'Bold');
    $('#data-1').parent().next().children().css('font-size', '17px');
    $('#data').prev().children().css('color', '#d50f25');
  });

  function loadData() {
    $.post("/{{ practice_name }}/data/",
      function (data) {
        document.location = '/{{ practice_name }}/algorithm';
        },
       "json"
    );
  }

  next_data = 1;
  var load = 0;
  $('#showDataButton').click(function () {
    var showDataButton = $('#showDataButton');
    if(load == 0){
      $('#spinner').addClass("fa fa-spinner fa-spin");
      setTimeout( function(){
        $('#spinner').removeClass("fa fa-spinner fa-spin");
        show_table();
        showDataButton.html('Show more');
        load=1;
      }  , 3000 );
    }else
      show_table();
  });
  function show_table() {
    $.post("/{{ practice_name }}/data/show_loaded_data/", {next: next_data},
    function (data) {

      {# create 10 tables to show 10 images and labels #}
      for (var i = 0; i < 10; i++) {
        document.getElementById("dataTableDiv").appendChild(document.createElement("table"));
      }
      var tables = document.getElementsByTagName("table");
      for (var i = next_data * 10 - 10, table; table = tables[i]; i++) {
        {# head of table#}
        var tr = document.createElement("tr");
        table.appendChild(tr);
        var head_image = document.createElement("th");
        head_image.colSpan = "28";
        head_image.appendChild(document.createTextNode("Image"));
        tr.appendChild(head_image);
        var head_label = document.createElement("th");
        head_label.appendChild(document.createTextNode("Label"));
        tr.appendChild(head_label);

        {# height of image#}
        for (var j = 0; j < 28; j++) {
          var row = document.createElement("tr");
          table.appendChild(row);
          {# width of image #}
          for (var k = 0; k < 28; k++) {
            var col = document.createElement("td");
            var color = 255 - data.images[i - 10 * next_data + 10][j * 28 + k];
            col.style.backgroundColor = '#' + color + color + color;
            row.appendChild(col);
          }

          {# label column #}
          if (j == 0) {
            var label = document.createElement("td");
            label.rowSpan = "28";
            label.style.border = "1px solid black";
            label.textContent = data.labels[i - 10 * next_data + 10];
            row.appendChild(label);
          }
        }
      }
      next_data++;
    },
    "json"
    );
  }

  var interval = undefined;
  $(document).ready(function () {
    interval = setInterval(getFirst, 2000);// milliseconds
    getNext();
  });

  function getFirst() {
    var $curr = $('.slideshow img:visible').first();
    $curr.css('z-index', 1);
  }

  function getNext() {
    var $curr = $('.slideshow img:visible'),
        $next = ($curr.next('img').length) ? $curr.next() : $('.slideshow img').first();
    transition($curr, $next);
  }

  function getPrev() {
    var $curr = $('.slideshow img:visible'),
        $next = ($curr.prev('img').length) ? $curr.prev() : $('.slideshow img').last();
    transition($curr, $next);
  }

  function transition($curr, $next) {
    clearInterval(interval);
    $next.css('z-index', 2).fadeIn('slow', function () {
      $curr.hide().css('z-index', 0);
      $next.css('z-index', 1);
    });
    $('.w3-ul li').css("font-weight","normal");
    if(0<=$next.index() && $next.index()<2)
      $('.w3-ul li:eq(1)').css("font-weight","Bold");
    else if(2<=$next.index() && $next.index()<3)
      $('.w3-ul li:eq(2)').css("font-weight","Bold");
    else
      $('.w3-ul li:eq(3)').css("font-weight","Bold");
  }

  function getIndex(index) {
    var $curr = $('.slideshow img:visible'),
        $next = $('.slideshow img:eq('+index+')');
    if($curr[0]!=$next[0])
      transition($curr, $next);
  }
</script>
{% endblock scripts %}
