{% extends 'practice/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
  <br>
  <h3>Load Example Data</h3>
  <br>
  <h4>Training Image&Lable</h4>
  <button onclick="loadData()">Load data</button>
</div>
<br><br>
<div>
  <button id="nextButton" disabled>Next</button>
</div>

<script>
  function loadData() {
    $.post("/{{ practice_name }}/data/",
      function(data) {
        alert("Data Loaded");
        $('#nextButton').attr('disabled', false);
      },
      "json"
    );
  }

  $('#nextButton').click(function() {
    location.href='/{{ practice_name }}/algorithm'
  });
</script>
{% endblock content %}

{% block scripts %}
<script>
  $(document).ready(function() {
    var cur= window.location.pathname;
    if(cur.indexOf('data')){
      $('.submenu').hide();
      $('#data.submenu').show();
    }
    $('.data-end').attr('src','{% static 'practice/images/end_exec.png' %}');
    $('#data-1').parent().next().children().css('font-weight','Bold');
    $('#data-1').parent().next().children().css('font-size','17px');
    $('#data').prev().children().css('color','#d50f25');
  });
</script>
{% endblock scripts%}