{% extends 'practice/base.html' %}
{% block content %}

<div class="row" >
    <h1>Set {{practice_name}} Algorithm</h1>
    <form action = "/practice/{{practice_name}}/save_algorithm/" accept-charset="utf-8" name = "save_algorithm" method = "post">
    <br>
    <table border="1" class="w3-table-all">
        {%for key, value_list in list.items%}
        <tr>
            <td>{{key}}</td>
            <td>
                <select name="{{key}}">
                    {%for value in value_list%}
                    <option value="{{value}}">{{value}}</option>
                    {%endfor%}
                </select>
            </td>
        </tr>
        {%endfor%}
    </table>
    <br><br>
    <input type="submit" value="Next">
    </form>
</div>
{% endblock content %}