@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family : "Montserrat", sans-serif;
  overflow : hidden;
  margin : 0;
  padding : 0;
  letter-spacing : 0.2px;
}

#main {
  margin-left : 250px;
  margin-top : 80px;
}

#main h1, h3, h4{
  font-family : "Montserrat", sans-serif;
  text-color : #222a34;
}

#logo {
  width : 200px;
  height : auto;
  margin-bottom : 5px;
  margin-top : 5px;
}

#main_nav {
  overflow : hidden;
  margin : 0 auto;
  float : right;
  display : inline-block;
  margin-top : 25px;
}

#main_nav ul{
  margin-left : 10px;
}

#main_nav ul li{
  display:table-cell;
  padding-right : 20px;
  color : #ffffff
}

#branding {
  text-align : center;
  padding : 3px 8px 8px;
  display : inline-block;
}

#header {
  border-bottom : 1px solid #222a35;
  background-color : #222a35;
  height : 70px;
  width : 100%;
  position : fixed;
  z-index : 999;
  top : 0px;
  left : 0px;
}

ul {
  width : 276px;
  list-style : none;
}

li {
  cursor : pointer;
  list-style-type : none;
}

#menu {
    position : fixed;
    margin-top : 70px;
}

.step {
  font-size : 25px;
  padding : 10px;
  text-align : left;
  border-bottom : 1px solid #222a35;
  margin-top : 20px;
  margin : 20px;
}

.mainmenu {
  font-size : 16px;
  padding : 0;
  margin-left : 30px;
  margin-right : 10px;
}

.mainmenu > li {
  box-sizing : border-box;
  height : 48px;
  color : #222a35;
  border-bottom : 1px solid #222a35;
}

.mainmenu > li p {
  line-height : 48px;
  display : block;
  text-align : left;
  margin-left : 50px;
}

.mainmenu > li .icon {
  display : block;
  float : left;
  width : 20px;
  height : 20px;
  padding : 14px 20px 0 20px;
}

.step-image {
  width : 20px;
  height : auto;
}

.submenu {
  font-size : 13px;
  box-sizing : border-box;
  color : #222a35;
}

.submenu > li {
  line-height : 20px;
  height : 35px;
  margin-left : -20px;
}

.submenu .submenu_name {
  width : 50%;
  float : left;
  margin-top : 7px; 
}

.submenu .submenu_image {
  width : 10%;
  float : left;
}

/*------------ Slide show ------------*/
body .slideshow {
  position : relative;
  width : 600px;
  height : 400px;
  background-color : #ffffff;
  overflow : none;
}

body .slideshow img {
  position : absolute;
  margin : auto;
  top : 0;
  right : 0;
  bottom : 0;
  display : none;
}

.w3-left {
  position : absolute;
}

.w3-right {
  position : absolute;
  margin-left : 600px;
}

body .help {
  padding-bottom : 100px;
}

body .main {
  padding-bottom : 100px;
}

body .row {
  height : 600px;
}

body .nextButton {
  position : relative;
  margin-bottom : 30px;
  left : 900px;
}

#result {
  margin : 20px;
}

body .table_name {
  width : 200px;
  align : center;
  color : #222a35;
  font-weight : Bold;
  text-align : center;
  margin-top : 25px;
}

body .table_value {
  overflow : hidden;
  margin-left : 10px;
}

body .cc-selector input {
  -webkit-appearance : none;
  -moz-appearance : none;
  appearance : none;
}

body .cc-selector  input:active + .drinkcard-cc {
  opacity: .9;
}

body .cc-selector  input:checked + .drinkcard-cc {
  -webkit-filter : none;
  -moz-filter : none;
  filter : none;
}

body .cc-selector  input:disabled + .drinkcard-cc {
  -webkit-filter : grayscale(1);
  -moz-filter : grayscale(1);
  filter : grayscale(1);
}

body .drinkcard-cc {
  cursor:pointer;
  background-size : contain;
  background-repeat : no-repeat;
  display : inline-block;
  width : auto;
  height : 100px;
  margin-top : 15px;
  margin-right : 10px;
  -webkit-transition : all 100ms ease-in;
  -moz-transition : all 100ms ease-in;
  transition : all 100ms ease-in;
  -webkit-filter : opacity(.4);
  -moz-filter : opacity(.4);
  filter : opacity(.4);
}

body .drinkcard-cc:hover {
  -webkit-filter : brightness(1.2) grayscale(.5) opacity(.9);
  -moz-filter : brightness(1.2) grayscale(.5) opacity(.9);
  filter : brightness(1.2) grayscale(.5) opacity(.9);
}

.switch-field {
  padding : 10px;
  overflow : hidden;
}

.switch-field input {
  position : absolute !important;
  clip : rect(0, 0, 0, 0);
  height : 1px;
  width : 1px;
  border : 0;
  overflow : hidden;
}

.switch-field label {
  float : left;
}

.switch-field label p {
  display : inline-block;
  width : 60px;
  background-color : rgb(84,174,0);
  color : white;
  font-size : 14px;
  font-weight : Bold;
  text-align : center;
  text-shadow : none;
  padding : 6px 14px;
  -webkit-box-shadow : inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow : inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition : all 0.1s ease-in-out;
  -moz-transition : all 0.1s ease-in-out;
  -ms-transition : all 0.1s ease-in-out;
  -o-transition : all 0.1s ease-in-out;
  transition : all 0.1s ease-in-out;
  -webkit-filter : opacity(.4);
  -moz-filter : opacity(.4);
  filter : opacity(.4);
  border : 1px solid rgba(0, 0, 0, 0.2);
}

.switch-field label:hover {
  -webkit-filter : brightness(1.2) grayscale(.5) opacity(.9);
  -moz-filter : brightness(1.2) grayscale(.5) opacity(.9);
  filter : brightness(1.2) grayscale(.5) opacity(.9);
  cursor : pointer;
}

.switch-field input:checked + p {
  -webkit-box-shadow : none;
  box-shadow : none;
  color : #ffffff;
  -webkit-filter : none;
  -moz-filter : none;
  filter : none;
}

.switch-field input:disabled + p {
  -webkit-filter : grayscale(1) opacity(.7);
  -moz-filter : grayscale(1) opacity(.7);
  filter : grayscale(1) opacity(.7);
}

.w3-container {
  margin-bottom : 20px;
}

.w3-card-2 {
  width : 700px;
}

.w3-input {
  width : 100px;
}

section {
  position : relative;
  width : 100%;
  height : 100%;
}

section::after {
  bottom : 0;
  left : 0;
  content : '';
  width : 100%;
  height : 80%;
}

body .demo p {
  border-bottom : 1px solid #222a35;
}

body .demo a {
  position : absolute;
  bottom : 20px;
  left : 450px;
  z-index : 2;
  display : inline-block;
  -webkit-transform : translate(0, -50%);
  transform:  translate(0, -50%);
  color : #000000;
  background-color: #ffffff;
  letter-spacing : .1em;
  text-decoration : none;
  transition : opacity .3s;
}

body #section02 {
  margin-top : -30px;
  height : 500px;
}

body #section01 a {
  padding-top : 45px;
  padding-left : 20px;
  padding-right : 20px;
  padding-bottom : 40px;
}

body #section01 a span {
  position : absolute;
  top : 0;
  left : 50%;
  width : 24px;
  height : 24px;
  margin-left : -12px;
  border-left : 1px solid #000000;
  border-bottom : 1px solid #000000;
  -webkit-transform : rotate(-45deg);
  transform : rotate(-45deg);
  -webkit-animation : sdb01 2s infinite;
  animation : sdb01 2s infinite;
  box-sizing : border-box;
}

@-webkit-keyframes sdb01 {
  0% {
    -webkit-transform : rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform : rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform : rotate(-45deg) translate(0, 0);
  }
}

@keyframes sdb01 {
  0% {
    transform : rotate(-45deg) translate(0, 0);
  }
  20% {
    transform : rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform : rotate(-45deg) translate(0, 0);
  }
}

@-webkit-keyframes sdb02 {
  0% {
    -webkit-transform : rotate(135deg) translate(0, 0);
  }
  20% {
    -webkit-transform : rotate(135deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform : rotate(135deg) translate(0, 0);
  }
}

@keyframes sdb02 {
  0% {
    transform : rotate(135deg) translate(0, 0);
  }
  20% {
    transform : rotate(135deg) translate(-10px, 10px);
  }
  40% {
    transform : rotate(135deg) translate(0, 0);
  }
}

#dataTableDiv td {
  width: 5px;
  height: 5px;
  text-align: center;
  font-size: x-large;
}

#dataTableDiv th {
  border: 1px solid white;
  width: 50px;
  height: 5px;
  text-align: center;
  background-color: black;
  color: white;
}

#dataTableDiv table {
  border: 2px solid black;
  vertical-align: top;
  display: inline-table;
  margin-right: 5px;
  margin-top: 10px;
}

.no_active_img {
  -webkit-filter : brightness(1.2) grayscale(1) opacity(.5);
  -moz-filter : brightness(1.2) grayscale(1) opacity(.5);
  filter : brightness(1.2) grayscale(1) opacity(.5);
}

body .cc-selector  input:active + .active_img {
  opacity: .9;
}

body .cc-selector  input:checked + .active_img {
  -webkit-filter : none;
  -moz-filter : none;
  filter : none;
}

body .active_img {
  cursor:pointer;
  background-size : contain;
  background-repeat : no-repeat;
  display : inline-block;
  -webkit-transition : all 100ms ease-in;
  -moz-transition : all 100ms ease-in;
  transition : all 100ms ease-in;
}

body .active_img:hover {
  box-shadow : 2px 2px black;
}


.help_list li span{
  display : inline-block;
  margin : 0;
  padding : 0;
  width : 160px;
}

.help_list {
  margin:0;
  padding:0;
  list-style-type:none;
  width:100%;
  position:relative;
  display:block;
}