/*------------ Color Palette ------------*/
/*
LIGHT ORANGE: #e4644b
DARK ORANGE: #d05942
DARK BROWN: #484141
Menu text: #f7f1e3
Submenu text: #ae9f9f
*/

/*------------ General Settings ------------*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
    letter-spacing: .2px;
}

#main {
    margin-left:250px;
    margin-top:25px;
}
#logo {
    width: 200px;
    height: auto;
    margin-bottom: 5px;
    margin-top : 5px;
}

 #main_nav {
overflow: hidden;
margin: 0 auto;
float: right;
display: inline-block;
}

#site_header #branding {
text-align: center;
padding: 3px 10px 20px;
display: inline-block;
}

header {
border-bottom: 1px solid #d05942;
}

ul {
    width: 276px;
    list-style: none;
}

li {
    cursor: pointer;
    list-style-type:none;
}

/*------------ Main Menu ------------*/
.step {
    font-size: 16px;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #d05942
    margin-top: 20px;
    margin: 20px;
    background:
}

.mainmenu {
    font-size: 16px;
    padding: 0;
    margin-left: 30px;
    margin-right: 10px;
}

.mainmenu > li {
    box-sizing: border-box;
    height: 48px;
    /*color: #f7f1e3; text color*/
    border-bottom: 1px solid #d05942;/*border color*/

}

.mainmenu > li p {
    line-height: 48px;
    display: block;
    text-align: left;
    margin-left: 50px;
}

.mainmenu > li .icon {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    padding: 14px 20px 0 20px;
}

.expand-triangle {
    width: 276px;
    height: 10px;
    content: " ";
}

.expand-triangle img {
    width: inherit;
    height: inherit;
    margin-left: -100px;
    vertical-align: top;
}

/*------------ Sub Menu ------------*/
.submenu {
    font-size: 13px;
    box-sizing: border-box;
    content: " ";
    /* color: #ae9f9f; color*/
}

.submenu li {
    line-height: 20px;
    height: 35px;
    margin-left: -140px;
    padding-top: 11px;
    transition: border-left 220ms ease-in;
    border-left: solid 6px
    text-align: left;
}

.submenu .chosen,
.submenu .chosen:hover {
    border-left: solid 6px #96d145;
}

.submenu li:hover {
    border-left: solid 6px #d05942;
}

.submenu li span {
    margin-left: 50px;
    margin-right: 10px;
}
