#logo_EasyTensor {
    width:120px;
    height:60px;
    margin:10px;
}
#main{
    margin-left:250px;
    margin-top:25px;
}
.font{
    font-family: 'Roboto', sans-serif;
}
body div ul li div h4,body div ul li h4{
    font-family:'Roboto',sans-serif;
    font-size:17px;
}
body div ul li h3{
    font-family:'Roboto',sans-serif;
    font-size:20px;
}
body div h1{
    font-family:'Roboto',sans-serif;
    font-size:30px;
}
body div,body div ul li div form,body div ul li form{
    font-family:'Roboto',sans-serif;
    font-size:14px;
}
.slideshow {
    position: relative;
    width: 700px;
    height: 200px;
    background-color: #eee;
    overflow: auto;
}
.slideshow img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.slideshow img:first-child {
    display: block;
}