{% extends 'practice/base.html' %}
{% load staticfiles %}

{% block content %}
<form action = "/{{ practice_name }}/algorithm/" accept-charset="utf-8" name="save_algorithm" method="post">
  <div class="row" >
    <br>
    <h3>Set {{ practice_name }} algorithm</h3>
    <br>
    {% for key, value_list in list.items %}
      <div class="w3-card-2 w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <div class="table_name col-sm-4">{{ key }}</div>
          <div class="table_value col-sm-8">
            {% if "Yes" in value_list %}
              <div class="switch-field">
                {% for value in value_list %}
                  <label><input type="radio" name="{{ key }}" value="{{ value }}"/><p>{{ value }}</p></label>
                {% endfor %}
              </div>
            {% else %}
              <div class="cc-selector">
                {% for value in value_list %}
                  <label><input type="radio" name="{{ key }}" value="{{ value }}" id="{{ value }}"/><img class="drinkcard-cc" src ="/static/practice/images/{{ value }}.png"></label>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <input type="submit" class="nextButton w3-btn w3-dark-gray" value="OK">
</form>
<p id="div_section"><a href="#section02"><span></span>HELP</a></p>
{% endblock content %}

{% block help %}
<div id="help_row" class="w3-cell-row">
  <div class="w3-container w3-cell">
    <br><br><br><br>
    <ul class="w3-ul help_list">
      <li><h4>List</h4></li>
      <li><span onClick="getIndex(0)">W and b</span></li>
      <li><span onClick="getIndex(1)">Layers</span></li>
      <li><span onClick="getIndex(4)">Activation Function</span></li>
      <li><span onClick="getIndex(9)">Weight Initialization</span></li>
      <li><span onClick="getIndex(13)">Dropout</span></li>
    </ul>
  </div>
  <div class="w3-container">
    <br>
    <h3>How is the Neural Network algorithm organized?</h3>
    <div class="slideshow">
      <img src="{% static 'practice/images/ppt/algorithm(1).png' %}" width="auto" height="400">
      <img src="{% static 'practice/images/ppt/algorithm(2).png' %}" width="auto" height="400">
      <img src="{% static 'practice/images/ppt/algorithm(3).png' %}" width="auto" height="400">
      <img src="{% static 'practice/images/ppt/algorithm(4).png' %}" width="auto" height="400">
      <img src="{% static 'practice/images/ppt/algorithm(5).png' %}" width="auto" height="400">
      <img src="{% static 'practice/images/ppt/algorithm(6).png' %}" width="auto" height="400">
      <img src="{% static 'practice/images/ppt/algorithm(7).png' %}" width="auto" height="400">
      <img src="{% static 'practice/images/ppt/algorithm(8).png' %}" width="auto" height="400">
      <img src="{% static 'practice/images/ppt/algorithm(9).png' %}" width="auto" height="400">
      <img src="{% static 'practice/images/ppt/algorithm(10).png' %}" width="auto" height="400">
      <img src="{% static 'practice/images/ppt/algorithm(11).png' %}" width="auto" height="400">
      <img src="{% static 'practice/images/ppt/algorithm(12).png' %}" width="auto" height="400">
      <img src="{% static 'practice/images/ppt/algorithm(13).png' %}" width="auto" height="400">
      <img src="{% static 'practice/images/ppt/algorithm(14).png' %}" width="auto" height="400">
      <img src="{% static 'practice/images/ppt/algorithm(15).png' %}" width="auto" height="400">
    </div>
    <div class="w3-middle">
      <div class="w3-btn-floating w3-left w3-light-gray"  onclick="getPrev()">&#10094;</div>
      <div class="w3-btn-floating w3-right w3-light-gray" onclick="getNext()">&#10095;</div>
    </div>
  </div>
</div>
{% endblock help %}

{% block scripts %}
<script>
  $(document).ready(function(){
    if($(window).scrollTop() == $(document).height() - $(window).height()){
      $('#section01 a span').css("-webkit-transform","rotate(135deg)");
      $('#section01 a span').css("transform","rotate(135deg)");
      $('#section01 a span').css("-webkit-animation","sdb02 2s infinite");
      $('#section01 a span').css("animation","sdb02 2s infinite");
    }
  });

  $(function () {
    $('a[href="#section02"]').on('click', function (e) {
      if($(window).scrollTop() == $(document).height() - $(window).height()){
        $('html, body').animate({
          scrollTop: 0
          }, 500);
        $('#section01 a span').css("-webkit-transform","rotate(-45deg)");
        $('#section01 a span').css("transform","rotate(-45deg)");
        $('#section01 a span').css("-webkit-animation","sdb01 2s infinite");
        $('#section01 a span').css("animation","sdb01 2s infinite");
        return false;
      }
      else{
        $('html, body').animate({
          scrollTop: $("#section02").offset().top
          }, 500);
        $('#section01 a span').css("-webkit-transform","rotate(135deg)");
        $('#section01 a span').css("transform","rotate(135deg)");
        $('#section01 a span').css("-webkit-animation","sdb02 2s infinite");
        $('#section01 a span').css("animation","sdb02 2s infinite");
        return false;
      }
    });
  });

  $(':radio[name="Model Type"]').on('click', function(){
    if($(':radio[name="Model Type"]:checked').val() == "Single layer"){
      $('input[type=radio][value="ReLU"]').attr("disabled",true);
      $('input:radio[name="Dropout"][value="Yes"]').attr("disabled",true);
    }
    else{
      $('input:radio[type=radio][value="ReLU"]').attr("disabled",false);
      $('input:radio[name="Dropout"][value="Yes"]').attr("disabled",false);
    }
  });

  $(document).ready(function(){
    $('.nextButton').attr("disabled",true);
    $('*').on('click',function(){
      var layer_check=$(':radio[name="Model Type"]:checked').val();
      var function_check=$(':radio[name="Activation Function"]:checked').val();
      var dropout_check=$(':radio[name="Dropout"]:checked').val();
      var weight_check=$(':radio[name="Weight Initialization"]:checked').val();
      if(layer_check && function_check && dropout_check && weight_check)
        $('.nextButton').attr("disabled",false);
    });
  });

  var interval = undefined;
  $(document).ready(function () {
    interval = setInterval(getFirst, 2000);// milliseconds
    getNext();
    $('#nextSlide').on('click', getNext);
    $('#prevSlide').on('click', getPrev);
  });

  function getFirst() {
    var $curr = $('.slideshow img:visible').first();
    $curr.css('z-index', 1);
  }

  function getNext() {
    var $curr = $('.slideshow img:visible'),
        $next = ($curr.next('img').length) ? $curr.next() : $('.slideshow img').first();
    transition($curr, $next);
  }

  function getPrev() {
    var $curr = $('.slideshow img:visible'),
        $next = ($curr.prev('img').length) ? $curr.prev() : $('.slideshow img').last();
    transition($curr, $next);
  }

  function transition($curr, $next) {
    clearInterval(interval);
    $next.css('z-index', 2).fadeIn('slow', function () {
      $curr.hide().css('z-index', 0);
      $next.css('z-index', 1);
    });
    $('.w3-ul li').css("font-weight","normal");
    if(0<=$next.index() && $next.index()<1)
      $('.w3-ul li:eq(1)').css("font-weight","Bold");
    else if(1<=$next.index() && $next.index()<4)
      $('.w3-ul li:eq(2)').css("font-weight","Bold");
    else if(4<=$next.index() && $next.index()<9)
      $('.w3-ul li:eq(3)').css("font-weight","Bold");
    else if(9<=$next.index() && $next.index()<13)
      $('.w3-ul li:eq(4)').css("font-weight","Bold");
    else
      $('.w3-ul li:eq(5)').css("font-weight","Bold");
  }

  function getIndex(index) {
    var $curr = $('.slideshow img:visible'),
        $next = $('.slideshow img:eq('+index+')');
    if($curr[0]!=$next[0])
      transition($curr, $next);
  }

  $(document).ready(function() {
    var cur= window.location.pathname;
    if(cur.indexOf('algorithm')){
      $('.submenu').hide();
      $('#algorithm.submenu').show();
    }
    $('.data-end').attr('src','{% static 'practice/images/end_check.png' %}');
    $('.algorithm-end').attr('src','{% static 'practice/images/end_exec.png' %}');
    $('#algorithm-1').parent().next().children().css('font-weight','Bold');
    $('#algorithm-1').parent().next().children().css('font-size','17px');
    $('#algorithm').prev().children().css('color','#eeb211');
  });
</script>
{% endblock scripts %}