{% extends 'practice/base_training.html' %}
{% load staticfiles %}

{% block frame %}
<h3>Check all settings</h3>
<br>
<h5>Algorithm Settings</h5>
<div class="w3-card-2 w3-round w3-white w3-hide-small">
  <table border="1" class="w3-table-all">
    {% for key, value in algorithm_cookies.items %}
    <tr>
      <th style="width:30%">{{ key }}</th>
      <td>{{ value }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<br><br>
<h5>Training Settings</h5>
<div class="w3-card-2 w3-round w3-white w3-hide-small">
  <table border="1" class="w3-table-all">
    {% for key, value in training_cookies.items %}
    <tr>
      <th style="width:30%">{{ key }}</th>
      <td>{{ value }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<br>
<button id="nextButton" class="nextButton w3-btn w3-dark-gray">Done</button>
<script>
  $('#nextButton').click(
    function() {
      location.href='/{{ practice_name }}/training/run'
    }
  );
</script>
{% endblock frame %}

{% block scripts %}
<script>
  $(document).ready(function() {
    $('.data-end').attr('src','{% static 'practice/images/end_check.png' %}');
    $('.algorithm-end').attr('src','{% static 'practice/images/end_check.png' %}');
    $('#training-1').attr('src','{% static 'practice/images/middle_check.png' %}');
    $('#training-2').attr('src','{% static 'practice/images/middle_exec.png' %}');
    $('#training-2').parent().next().children().css('font-weight','Bold');
    $('#training-2').parent().next().children().css('font-size','17px');
  });
</script>
{% endblock scripts %}