{% extends 'practice/base_training.html' %}
{% load staticfiles %}

{% block frame %}
<h3>Check all settings</h3>
<br>
<table border="1" class="w3-table-all">
  {% for key, value in cookies_list.items %}
  <tr>
    <td>{{ key }}</td>
    <td>{{ value }}</td>
  </tr>
  {% endfor %}
</table>
<br>
<button id="nextButton" class="nextButton w3-btn w3-dark-gray">Next</button>

<script>
  $('#nextButton').click(
    function() {
      location.href='/{{ practice_name }}/training/run'
    }
  );
</script>
{% endblock frame %}

{% block scripts %}
<script>
  $(document).ready(function() {
    $('.data-end').attr('src','{% static 'practice/images/end_check.png' %}');
    $('.algorithm-end').attr('src','{% static 'practice/images/end_check.png' %}');
    $('#training-1').attr('src','{% static 'practice/images/middle_check.png' %}');
    $('#training-2').attr('src','{% static 'practice/images/middle_exec.png' %}');
    $('#training-2').parent().next().children().css('font-weight','Bold');
    $('#training-2').parent().next().children().css('font-size','17px');
  });
</script>
{% endblock scripts %}