{% extends 'practice/base_training.html' %}
{% load staticfiles %}

{% block frame %}
<h3>1. Set {{ practice_name }} training settings</h3>
<br>
<form action = "/{{ practice_name }}/training/" accept-charset="utf-8" name="save_training" method="post">
  {% for key,value in list.items %}
    {{ key }} : <input type="text" name="{{ key }}" value="{{ value }}">
    <br><br>
  {% endfor %}
  <input type="submit" value="Next">
</form>
{% endblock frame %}

{% block scripts %}
<script>
  $('.data-end').attr('src','{% static 'practice/images/end_check.png' %}');
  $('.algorithm-end').attr('src','{% static 'practice/images/end_check.png' %}');
  $('#training-1').attr('src','{% static 'practice/images/middle_exec.png' %}');
</script>
{% endblock %}